@charset "UTF-8";
/*!
 * 모니모 앱 (통합플랫폼) 스타일
 *
 * Copyright © 2021-2022 ADCAPSULE
 */



 // monimo globals variables
$title-height: 36px;
$title-scroll-height: 24px;
$navi-height: 60px;
$header-height: $title-height + $navi-height;
