// Background colors
.primary-bg {
  background-color: $Samsung_blue;
}
.secondary-increase-bg {
  background-color: $Increase_red;
}
.secondary-alary-bg {
  background-color: $Alary_red;
}
.secondary-decrease-bg {
  background-color: $Decrease_blue;
}

//box width, height
.primary-box {
  width:120px;
  height:120px;
} 