   section {
    min-height: 90vh;

  }

  h2 {font-size:16px; line-height:24px; font-weight: 700; color: #212121;}
  h3 {font-size: 14px; color: #212121; letter-spacing: 0; line-height: 22px; font-weight: 700;}
  h4 {font-size: 12px; color: #414958; letter-spacing: 0; line-height: 18px; font-weight: 700;}
  footer {
    background-color: #f4f4f4;
    p {font-size:12px; line-height:18px; font-weight:500; color: #8B95A1}
  }
  /* li {

    font-size: x-small;
  } */

  [class^='fs'] {color:#212121}
  [class^='fs'][class*='-title'] {letter-spacing:-1px;}
  [class^='fs'][class*='-h'],
  [class^='fs'][class*='-title'] {font-weight:800;}
  [class^='fs'][class*='-p'] {font-size:13px; font-weight:500; line-height:22px;}
  .fs-title-1 {font-size:24px; line-height:32px;}
  .fs-title-2 {font-size:20px; line-height:30px;}
  .fs-title-3 {font-size:22px; line-height:30px;}
  .fs-title-4 {font-size:17px; line-height:24px;}
  .fs-h1 {font-size:18px; line-height:1.5em; letter-spacing:-.9px;}
  .fs-h1 {white-space: pre;}
  .fs-h2 {font-size:16px; line-height:24px; color: #212121;}
  .fs-h3 {font-size:14px; line-height:22px;}
  .fs-h4 {font-size:13px; line-height:20px; font-weight: 700;}
  .fs-p-emp {font-size:14px}
  .fs-form {font-size:16px; line-height:24px; font-weight:500;}
  .fs-cap {font-size:12px; line-height:20px; font-weight:500; color: #888888}
  .fs-desc {font-size:9px; line-height:15px; color: #666;}

  .v-text-field {padding-top:0; margin-top:0;}
  .v-text-field > .v-input__control > .v-input__slot > .v-text-field__slot {display:block;}
  // .v-input:not(.v-select) .v-label {position:static !important; display:block; width:100%; height:auto; font-size:13px; line-height:20px; color:#616161 !important; transform:none; transition:none;}
  /* .v-input .v-label {position:static !important; display:block; width:100%; height:auto; font-size:13px; line-height:20px; color:#616161 !important; transform:none; transition:none;} */
  .v-input.v-select .v-label {width: 100%; height: 28px; font-size: 20px; line-height:20px; color:#616161 !important; }
  .v-radio .v-label {color:#212121 !important; font-weight: 500;}
  .v-radio.v-radio--is-disabled .v-label {color:#bbbbbb !important; font-weight: 500;}

  // .v-input.v-input--checkbox .v-label {font-size:12px; color:#616161 !important; font-weight: 500;}

  // .v-input .v-icon.v-icon {font-size: 16px;}
  // .v-radio .v-icon.v-icon {font-size: 24px;}

  .v-input .v-label.error--text {color:#616161 !important}
  .v-text-field input {padding:8px 0 11px; font-size:16px; line-height:24px; font-weight:500; color:#000; max-height:43px;}
  .v-text-field__details {min-height:18px;}
  .v-messages__message {font-size:12px; line-height:18px; font-weight:500;}
  .v-application .error--text {color:#ff392a !important}
/*   .v-text-field > .v-input__control > .v-input__slot:after {border-bottom:1px solid #ddd; bottom:-1px;} */
  .v-text-field > .v-input__control > .v-input__slot:after {border-width:1px 0 0 0}
  .v-application--is-ltr .v-text-field .v-input__append-inner {margin:0; padding:0}
  .v-input__icon--clear {width:16px; height:16px; background-color:#ddd; min-width:16px; position:absolute; right:0; bottom:15px}
  .v-input__icon--clear .mdi-close::before,
  .v-input__icon--clear .mdi-close::after {font-size:12px; color:#fff}
  .v-text-field > .v-input__control > .v-input__slot:after {border-color:#212121; background-color:#212121;}

  /* reset */
  .container {padding: 0;}
  .v-application p { margin-bottom: 0;}

  /* layout */
  .myassets {color: #0B0D0F;}
  .myassets .cont-wrap {
    padding: 0 20px 50px;
    border-top: 12px solid #F8F9F9;
  }
  .myassets .cont-wrap:first-child {
    border-top: 0;
  }
  .cont-wrap {
    padding: 0 32px;
    border-top: 6px solid #eee;
  }
  .cont-wrap:first-child {
    border-top: 0;
  }

  /* common */
  .hide, caption {position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0;}
  caption {position: relative; font-size: 0;}

  .txt-judge {
    font-size: 14px;
    color: #868A93;
    line-height: 20px;
  }
  .txt-info {
    font-size: 14px;
    line-height: 20px;
    color: #868A93;
  }
  .txt-info i { margin-right: 10px;}

  .bul-list {
    padding-left: 0 !important;
  }
  .bul-list li {
    padding-left: 13px;
    position: relative;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    list-style: none;
    color: #868A93;
  }
  .bul-list li:before {
    content: '';
    display: block;
    position: absolute;
    top: 7px; left: 0;
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background: #868A93;
  }
  .bul-list.type-warning li {
    color: #FF6060;
    font-size: 15px;
  }
  .bul-list.type-warning li:before {background: #FF6060;}
  .bul-list.type-black li {
    color: #0B0D0F;
    font-size: 15px;
  }
  .bul-list.type-black li:before {background: #0B0D0F;}

  .tab-base.v-tabs {
    position: relative;
    margin-top: 10px;
  }
  .tab-base.v-tabs .v-item-group:before {
    content: '';
    position: absolute;
    bottom: 0; left: -20px;
    display: block;
    width: calc(100% + 40px);
    height: 1px;
    background: #E9ECEE;
  }
  .tab-base.v-tabs .v-tabs-slider-wrapper,
  .tab-base.v-tabs .v-tab {
    min-width: auto;
    padding: 0;
  }
  .tab-base.v-tabs .v-tab {
    margin-right: 20px;
    font-size: 17px;
    font-weight: 700;
    color: #B4B9C3 !important;
    letter-spacing: 0;
  }
  .tab-base.v-tabs .v-tab--active {
    color: #0B0D0F !important;
  }
  .tab-base.v-tabs + .v-tabs-items { padding-top: 10px;}

  .tab-base2.v-tabs {
    position: relative;
  }
  .tab-base2.v-tabs .v-item-group {
    padding: 0 32px;
  }
  .tab-base2.v-tabs .v-item-group:before {
    content: '';
    position: absolute;
    bottom: 0; left: -20px;
    display: block;
    width: calc(100% + 40px);
    height: 1px;
    background: #eee;
  }
  .tab-base2.v-tabs .v-tabs-slider-wrapper,
  .tab-base2.v-tabs .v-tab {
    min-width: auto;
    padding: 0;
  }
  .tab-base2.v-tabs .v-tab {
    margin-right: 16px;
    padding-bottom: 4px;
    font-size: 14px;
    color: #888 !important;
    letter-spacing: 0;
  }
  .tab-base2.v-tabs .v-tab--active {
    color: #286EF1 !important;
    font-weight: 700;
  }
  .tab-base2.v-tabs .v-tabs-slider { background:#286EF1;}
  .tab-base2.v-tabs + .v-tabs-items { padding-top: 10px;}

  .tab-btn-type .v-slide-group__prev,
  .tab-btn-type .v-slide-group__next { display: none !important}
  .tab-btn-type .v-tab {
    margin: 0 4px;
    padding: 8px 16px;
    min-width: auto;
    font-size: 13px;
    letter-spacing: 0;
    border: 1px solid #ddd;
    border-radius: 3px;
  }
  .tab-btn-type .v-tab:first-child { margin-left: 32px}
  .tab-btn-type .v-tab:last-child { margin-right: 32px}
  .tab-btn-type .v-tab--active {
    border: 2px solid #286EF1;
    color: #286EF1;
    font-weight: 700;
  }

  .no-data {
    padding: 90px 0;
    text-align: center;
  }
  .no-data .txt {
    margin-top: 10px;
    font-size: 15px;
    color: #868A93;
  }
  .no-data .txt2 {
    margin-top: 16px;
    font-size: 13px;
    color: #888888;
  }
  .no-data .ico {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    background: gray;
  }

  .tbl-base table {
    width: 100%;
    border-spacing: 0;
    border-top: 1px solid #212121;;
  }
  .tbl-base tbody th,
  .tbl-base tbody td {
    height: 40px;
    padding: 0 16px;
    font-size: 13px;
    color: #616161;
    line-height: 20px;
    border-bottom: 1px solid #ddd;
  }
  .tbl-base tbody th {background: #F8F8F8;}
  .tbl-base tbody td {border-left: 1px solid #ddd;}

  .tbl-detail {
    padding-left: 10px;
    padding-top: 1px;
  }
  .tbl-detail table {
    width:100%;
    margin:auto;
    border-collapse:separate;
    border-spacing:0;
    border-top: 1px solid #ddd;
  }
  .tbl-detail thead th {
    height: 40px;
    padding: 15px 0;
    font-size: 13px;
    line-height: 20px;
    color: #616161;
    border-bottom: 1px solid #eee;
  }
  .tbl-detail tbody th {
    padding: 24px 22px;
    font-size: 14px;
    color: #212121;
    line-height: 22px;
    border-bottom: 1px solid #eee;
    text-align: left;
  }
  .tbl-detail tbody td {
    padding: 24px 22px;
    font-size: 13px;
    color: #616161;
    line-height: 20px;
    text-align: right;
    vertical-align: bottom;
    border-bottom: 1px solid #eee;
  }
  .tbl-detail tbody th .chip {
    margin-bottom: 8px;
  }
  .tbl-detail tbody th .chip span {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding: 0 8px;
    font-size: 11px;
    color: #212121;
    border: 1px solid #212121;
    border-radius: 4px;
  }
  .tbl-detail tbody th .chip.type2 span {
    color: #286EF1;
    border-color: #286EF1;
  }
  .tbl-detail tbody th .chip.type3 span {
    color: #FF4058;
    border-color: #FF4058; 
  }
  .tbl-detail tbody th .name {
    width: 124px;
    white-space: normal;
    font-size: 14px;
    color: #212121;
    font-weight: 500;
    line-height: 22px;
  }
  .tbl-detail tbody th .date {
    font-size: 13px;
    color: #888;
    line-height: 20px;
    font-weight: normal;
  }
  .tbl-scroll {
    width: 100%;
    overflow: auto;
  }
  .tbl-scroll th, .tbl-scroll td { white-space:nowrap; }
  .tbl-fixed {
    position:sticky;
    top:0; left:-10px;
    background: #fff;
    border-bottom: 1px solid #eee;;
  }
  /* 마이자산 증권메인 (스타일 다름)*/
  .myassets [class^=fs] {color: #0B0D0F;}
  .myassets .chat-wrap .bubble {
    display: flex;
    height: 46px;
  }
  .myassets .chat-wrap .bubble p {
    padding: 0 22px;
    font-size: 15px;
    line-height: 46px;
    background: #EEF0F3;
  }
  .myassets .chat-wrap .bubble .v-image {
    flex: 0 0 auto;
  }
  .myassets .chat-wrap .card {
    margin: 18px 0;
    padding: 35px 22px 30px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.06), 0 6px 18px 2px rgba(0,0,0,0.04);
    border-radius: 20px;
  }  
  .myassets .chat-wrap .card .img {
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
    text-align: right;
  }
  .myassets .chat-wrap .card .img .v-responsive {
    flex: 0 0 auto;
  }
  .myassets .chat-wrap .card .btn {
    padding: 0;
    font-size: 17px;
    color: #000;
  }
  .myassets .chat-wrap .card .btn i {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    border-radius: 24px;
    background: #000;
  }
  .myassets .main-card {
    margin: 20px 0;
    padding: 20px 24px;
    color: #fff;
    background: #0068FF;
    border-radius: 16px;
  }
  .myassets .main-card span {
    font-size: 15px;
    line-height: 20px;
  }
  .myassets .main-card .price {
    font-size: 22px;
    line-height: 30px;
  }
  .myassets .main-card .price.before {
    opacity: 0.4;
    text-decoration: line-through;
  }
  .myassets .etc-card {
    margin-top: 50px;
    padding: 24px;
    color: #0B0D0F;
    border-radius: 16px;
  }
  .myassets .etc-card .col {
    position: relative;
  }
  .myassets .etc-card .col + .col:before {
    content: '';
    display: block;
    position: absolute;
    top: 0; left: 0;
    width: 1px;
    height: 48px;
    background: #E6E6E6;
  }
  .myassets .etc-card .col span {
    display: block;
    font-size: 15px;
    line-height: 20px;
  }
  .myassets .etc-card .col .percent {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
  }

  .acco-icon .v-expansion-panel{
    border-top: 1px solid #F5F6F7;
  }
  .acco-icon .v-expansion-panel:first-child {
    border-top: 0;
  }
  .acco-icon .v-expansion-panel-header {
    min-height: 60px;
  }
  .acco-icon .v-expansion-panel-header [class^='ico'] {
    position: relative;
    top: -2px;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 16px;
    border-radius: 24px;
    vertical-align: middle;
    background: gray;
  }
  .acco-icon .v-expansion-panel-header .v-expansion-panel-header__icon .v-icon {color: #000;}
  .acco-icon .v-expansion-panel-header .v-expansion-panel-header__icon:before{font-size: 16px;}
  .txt-dl {margin-top: 40px;}
  .txt-dl:first-child { margin-top: 30px;}
  .txt-dl dt {
    font-size: 15px;
    color: #7E89A2;
    font-weight: 700;
  }
  .txt-dl dd {
    margin-top: 20px;
    font-size: 15px;
    color: #0B0D0F;
    line-height: 20px;
  }
  .txt-dl dd .row {justify-content: space-between;}
  .txt-dl dd .row .tit {font-size: 17px;}
  .txt-dl dd .row .txt-percent {
    font-size: 15px;
    text-align: right;
    color: #5A5B63;
  }
  .help-wrap p{
    margin-top: 4px;
    font-size: 15px;
    line-height: 20px;
  }
  .help-wrap a {
    display: inline-block;
    margin-top: 10px;
    font-size: 17px;
    font-weight: 700;
    color: #3D9BFC;
    text-decoration: none;
  }
  .help-wrap a .ico {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    vertical-align: middle;
    background: gray;
  }

  .asset-total .fs-title-4 strong { color: #0068FF;}
  .asset-total .total {
    font-size: 28px;
    color: #1F2023;
    line-height: 32px;
    font-weight: 700;
  }
  .asset-total .total .v-btn {
    padding: 0;
  }
  .asset-total .break-even {
    font-size: 17px;
    line-height: 24px;
  }
  .link-wrap {
    margin-top: 30px;
    border-top: 1px solid #F5F6F7;
  }
  .link-wrap .btn {
    position: relative;
    display: block;
    width: 100%;
    padding: 20px 0;
    font-size: 17px;
    color: #0B0D0F;
    text-decoration: none;
  }
  .link-wrap .btn .v-icon {
    position: absolute;
    right: 0; top: 50%;
    transform: translateY(-50%);
  }

  .card-account .v-card {
    padding: 0 24px;
    background: #F9FAFB;
    border: 1px solid #F7F8F9;
    border-radius: 16px;
  }
  .card-account .v-card .v-list-item{padding: 0;}
  .card-account .v-card .v-list-item__content {
    padding: 0 0 24px;
    overflow: visible;
  }
  .card-account .v-card .v-list-item + .v-list-item{
    padding-top: 24px;
    border-top: 1px solid #E9ECEE;
  }
  .card-account .v-card .tit {
    font-size: 15px;
    color: #0B0D0F;
    line-height: 24px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
  }
  .card-account .v-card .tit-wrap {
    position: relative;
  }
  .card-account .v-card .tit-wrap .tit,
  .card-account .v-card .tit-wrap .account-num {
    padding: 18px 0;
    width: auto;
  }
  .card-account .v-card .tit-wrap.type2 {
    margin-bottom: 24px;
  }
  .card-account .v-card .tit-wrap.type2:before{
    content: '';
    display: block;
    position: absolute;
    bottom: 0; left: -24px;
    width: calc(100% + 48px);
    height: 1px;
    background:#E9ECEE;
  }
  .card-account .v-card .tit-wrap .account-num {
    font-size: 14px;
    color: #868A93;
    line-height: 20px;
  }
  .card-account .v-card .price-info .total {
    font-size: 18px;
    color: #0B0D0F;
    line-height: 24px;
    font-weight: 700;
  }
  .card-account .v-card .price-info .break-even {
    margin-top: 2px;
    font-size: 15px;
    line-height: 20px;
  }
  .myassets .break-even .v-icon {margin-left: 8px;}
  .myassets .break-even.plus,
  .myassets .break-even.plus .v-icon {color: #F50057;}
  .myassets .break-even.minus,
  .myassets .break-even.minus .v-icon {color: #286EF1;}
  .card-account .v-card .v-card__actions {
    padding: 7px 0;
    border-top:  1px solid #E9ECEE;
  }
  .card-account .v-card .v-card__actions .txt-sub {
    font-size: 14px;
    color: #868A93;
    line-height: 18px;
  }
  .card-account .v-card .v-card__actions .v-btn--text {
    padding: 0;
    font-size: 14px;
    color: #5E5E5E;
  }

  .acccount-detail .account-name p {
    margin-top: 4px;
    font-size: 13px;
    color: #616161;
    line-height: 20px;
  }
  .acccount-detail .possible-price {
    padding: 20px 0;
    font-size: 13px;
    line-height: 20px;
    border-top: 1px solid #eee;
  }
  .acccount-detail .possible-price span { color: #888; margin-right: 8px;}
  .acccount-detail .possible-price strong { color: #212121; font-weight: 500;}
  .acccount-detail .tit-btn {
    padding: 0 !important;
    letter-spacing: 0;
  }
  .acccount-detail .tit-btn .fs-h2 {
    width: calc(100% - 32px);
    white-space: normal;
    text-align: left;
  }
  .acccount-detail .tit-btn .v-btn__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }

  .price-wrap {
    text-align: right;
  }
  .price-wrap .total{
    font-size: 24px;
    color: #212121;
    line-height: 32px;
    font-weight: 700;
  }
  .price-wrap .detail {
    font-size: 14px;
    line-height: 22px;
  }
  .price-wrap .detail span {color: #888; font-weight: 500; margin-right: 4px;}
  .price-wrap .detail .plus {color: #FF4058; font-weight: 500;}

  .card-account2 {
    margin: 10px;
    padding: 20px 22px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.06), 0 6px 18px 2px rgba(0,0,0,0.04);
    border-radius: 5px;
  }
  .card-account2 .name {
    font-size: 16px;
    color: #212121;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
  }
  .card-account2 .price-wrap { margin-top: 10px;}
  .card-account2 .price-wrap .total{font-size: 20px;}

  .sort-wrap {
    padding: 0 10px;
    display: flex;
    justify-content: flex-end;
  }
  .sort-wrap > div {max-width: 160px;}
  .sort-wrap .v-text-field input { text-align: right; font-size: 13px;}

  .info-style {
    padding-top: 10px;
  }
  .info-style dl {
    margin-top: 6px;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    line-height: 20px;
  }
  .info-style dt {
    min-width: 80px;
    color: #888;
  }
  .info-style dd {color: #212121;}
  .price-wrap + .info-style {border-top: 1px solid #eee;}
  .cont-wrap .list-style,
  .cont-wrap .btn-list-style { margin: 16px -22px 0;}
  .list-style .v-list-item--link {
    margin-top: 8px;
    padding: 0 22px;
    background: #F8F8F8;
    border-radius: 4px;
  }
  .list-style .v-list-item--link:first-child {margin-top:0}
  .list-style .v-list-item--link .v-list-item__title {font-size: 13px; color: #212121;}
  .btn-list-style .v-btn.v-size--default {
    padding: 0 22px;
    background: #F8F8F8;
    border-radius: 4px;
  }
  .btn-list-style .v-btn__content {
    position: relative;
    padding-left: 28px;
    justify-content: space-between;
  }
  .btn-list-style .v-btn__content:before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    display: block;
    width: 24px;
    height: 24px;
    background: gray;
  }

  .list-invest .v-list-item {
    padding: 24px 32px;
    border-bottom: 1px solid #eee;
  }
  .list-invest .v-list-item__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .list-invest .v-list-item__title .date {
    font-size: 13px;
    color: #888;
  }
  .list-invest .v-list-item__title .chip {
    width: 37px;
    height: 20px;
    line-height: 20px;
    font-size: 11px;
    color: #FF4058;
    font-weight: 700;
    border: 1px solid #FF4058;
    border-radius: 4px;
    text-align: center;
  }
  .list-invest .v-list-item__title .chip.type2 {
    color: #286EF1;
    border-color: #286EF1;
  }
  .list-invest .v-list-item__title .chip.type3 {
    color: #212121;
    border-color: #212121;
  }
  .list-invest .v-list-item__subtitle {
    margin-top: 16px;
    font-size: 20px;
    color: #212121 !important;
    text-align: right;
    font-weight: 700;
    line-height: 32px;
  }
